.side_panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background: var(--black);
  left: 0;
  top: 50%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  transform: translateY(-50%);
  border: solid 2px var(--dark-gray);
  border-left: none;
}
