#tree_panel {
  position: relative;
  width: unset;
  height: unset;
}
.tree_node {
  stroke: var(--white);
  stroke-width: 1px;
}
.tree_link {
  fill: var(--white);
  stroke: var(--white);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}