#graph {
  width: 100%;
  height: 100%;
}
#board,
#board * {
  transition: opacity var(--fast);
}
#board[data-edit="true"] {
  opacity: 0;
}
#graph * {
  transition: opacity var(--fast);
}

*[data-hitbox="true"] {
  opacity: 0;
  transition: opacity var(--fast);
  cursor: pointer;
}
*[data-hitbox="true"]:hover,
*[data-hitbox="true"][data-selected="true"] {
  opacity: 0.5;
}
