.bottom_panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  background: var(--black);
  left: 0;
  right: 0;
  bottom: 0;
  border-top: solid 2px var(--dark-gray);
  user-select: none;
  z-index: 1;
}
