.timecode {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 110px;
  height: 40px;
}
.timecode_suffix {
  margin-left: 2px;
  margin-right: 6px;
}
@media (max-width: 700px) {
  .timecode {
    width: calc(100% - 40px * 3);
    height: 40px;
  }
}
