.button {
  width: 40px;
  height: 40px;
  background: var(--black);
  color: var(--white);
  transition: background var(--fast), color var(--fast);
}
.button:hover {
  background: var(--dark-gray);
}
.thin_button {
  width: 25px;
  height: 40px;
}
