.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--black);
  color: var(--white);
  transition: background var(--fast), color var(--fast);
}
.button:hover {
  background: var(--dark-gray);
}
.thin_button {
  width: 25px;
  height: 40px;
}
.button svg {
  transition: transform var(--fast);
}
.button:hover svg {
  transform: scale(1.1);
}
.button:active svg {
  transform: scale(0.9);
}

