.number_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.number_box > * {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: 0;
  font-size: 1em;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  appearance: none;
  transition: background var(--fast);
}
.number_box > div:hover {
  background: var(--dark-gray);
  cursor: ns-resize;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
