.number_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.number_box > input {
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: 0 5px;
  font-size: 1em;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  appearance: none;
  transition: background var(--fast);
}
.number_box > input:hover {
  background: var(--dark-gray);
}
.number_box_handle {
  position: absolute;
  right: 0;
  padding: 5px;
  color: var(--gray);
  cursor: ns-resize;
  user-select: none;
  transition: color var(--fast);
}
.number_box_handle:hover {
  color: var(--blue);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
