.tooltip {
  font-size: 0.75em;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  background: var(--dark-gray);
  outline: none;
}
@media (hover: none) {
  .tooltip {
    display: none;
  }
}