@import "https://fonts.googleapis.com/css?family=Lato";

* {
  font-family: "Lato", sans-serif;

  --black: #202020;
  --dark-gray: #303030;
  --gray: #606060;
  --light-gray: #a0a0a0;
  --white: #ffffff;
  --blue: #42a5f5;
  --yellow: #ffeb3b;
}
html,
body {
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
}
#root {
  width: 100%;
  height: 100%;
}
small {
  font-size: 0.75em;
  color: var(--light-gray);
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
*:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--blue);
}
