.timebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  border-top: solid 1px #808080;
  background: #202020;
  color: #ffffff;
  font-size: 0.75em;
  user-select: none;
}
.timebar > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
}
.timecode span {
  margin: 0 5px;
}
.slider {
  background: #808080;
  position: relative;
}
.slider:hover {
  cursor: pointer;
}
.slider_marker {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  background: #4fc3f7;
  pointer-events: none;
}
